// global-styles.scss

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: white; // Установка белого фона для всего приложения
    font-family: 'Inter', sans-serif; // Установка шрифта Inter для всего приложения
    border: 0;
  }