// ContactForm.scss

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 400px;
}

.text-container {
  margin-bottom: 20px;
  text-align: left;
}

.text-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  .icons {
    display: flex;
    gap: 10px;

    .vk-icon,
    .telegram-icon {
      font-size: 24px;
      color: #0077B5;
    }

    .telegram-icon {
      color: #0088cc;
    }
  }
}

.contact-info-table {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form-container img {
  max-width: 100%;
  height: auto;
}

.container {
  text-align: left;
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}
