.photo-container {
    width: 500px;
    height: 272px; /*фиксированную высоту */
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* обрезание изображение в случае, если оно не соответствует фиксированной высоте */
    box-sizing: border-box; /* Учтем границу в общих размерах */
    border: 2px solid #ccc; /* Добавим границу */
}

.gallery-image {
    width: 500px !important;
    height: 245px !important;
    object-fit: cover;
  
}
