// Gallery.scss

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Цвет фона галереи */
    color: #000000; /* Цвет текста в галерее */
    padding: 20px; /* Добавим отступы для контейнера галереи */
    
    @media (max-width: 767px) {
        padding: 40px; /* Увеличим отступы для мобильных устройств */
    }
    
    @media (max-width: 375px) {
        /* Дополнительные стили для маленьких экранов */
        padding: 20px; /* Пример значения, вы можете настроить под свои нужды */
    }
}

.text-container {
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        margin-bottom: 40px; /* Увеличим отступы для мобильных устройств */
    }

    @media (max-width: 375px) {
        /* Дополнительные стили для маленьких экранов */
        margin-bottom: 20px; /* Пример значения, вы можете настроить под свои нужды */
    }
}

.text {
    font-size: 18px;
    font-weight: bold;
}

.photos-container {
    display: flex;
    justify-content: space-between; /* Равномерное распределение между элементами */
    margin: 0 -5px; /* Добавим отступы между столбцами */

    @media (max-width: 767px) {
        /* Убираем отступы между столбцами для мобильных устройств */
        margin: 0;
    }

    @media (max-width: 375px) {
        /* Дополнительные стили для маленьких экранов */
        margin: 0; /* Пример значения, вы можете настроить под свои нужды */
    }
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-container {
    flex: 1;
    width: 100%;
    max-width: 1080px; /* Ограничим максимальную ширину контейнера с фотографией */
    margin: 0 5px; /* Добавим отступы между контейнерами с фотографиями */

    @media (max-width: 767px) {
        /* Убираем отступы между контейнерами для мобильных устройств */
        margin: 0;
    }

    @media (max-width: 375px) {
        /* Дополнительные стили для маленьких экранов */
        margin: 0; /* Пример значения, вы можете настроить под свои нужды */
    }
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .photos-container {
        flex-direction: column; /* Изменяем направление flex-контейнера на колонку для мобильных устройств */
        align-items: center; /* Выравниваем по центру */
    }

    .column {
        flex: none; /* Отключаем гибкость, чтобы контейнеры не растягивались по ширине */
        width: 100%; /* Занимаем всю ширину */
        margin: 0; /* Убираем отступы */
    }
}