// HomePage.scss

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000000;  /* цвет фона */
  color: #FFFFFF;  /* цвет текста */
}

.homepage-container {
  width: 1440px;
  height: 2762px;
  margin: 0 auto;
  padding: 20px;
}


.bg-custom-white {
  background-color: #ffffff !important;
}
// HomePage.scss



// HomePage.scss
.bg-custom-gray {
  background-color: rgba(164, 163, 163, 0.25) !important;
  height: 400px;
}

// Добавим стили для мобильных устройств
@media (max-width: 767px) {
  .bg-custom-gray {
    background-color: transparent !important;
    height: auto;
  }
}